@font-face {
    font-family: robotobold;
    src: url(betu/Roboto-Bold.ttf);
  }
 @font-face {
    font-family: tesla;
    src: url(betu/TESLA.ttf);
  }
html{
  font-family: robotobold;
}
body{
    background-color: black;
    font-family: robotobold;
    color: white;
    margin: 0;
}
h1{
  text-align: center;
  letter-spacing: 10px;
}
a{
    text-align: center;
    font-size: 60px;
    font-family: tesla;
    color: white;
    text-decoration: none;
}
h1:hover{
    transform: scale(1.2);
    transition: transform 200ms;
}
table{
    width: 80%;
    border-top: 3px solid white;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: robotobold;
  }
  .button:hover{
    color: black;
    background-color: white;
    border-radius: 100px;
  }
  .button:active{
    color: black;
    background-color: grey;
  }
.button2{
  color: white;
  background-color: #0098ff;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: robotobold;
  border-radius: 20px;
}
  .button2:hover{
    background-color: #0060ff;
  }
  .button2:active{
    background-color: #4610ff;
  }
.container {
    position: relative;
    text-align: center;
    color: black;
    font-family: robotobold;
    font-size: 50px;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomed {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer{
  
  background-color: black;
  color: white;
  text-align: center;
  font-family: robotobold;
}
